<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/signup.css">
    <title>Login</title>
</head>
<body bgcolor="#EF904C">
    <h1 class = "login">Mak'gora Sign Up</h1>
    <div class = main>
        <form action = "/sports/signup" method="post">
            <div class = "login_area">
                <input type = "text" name = "name" value = "이름을 입력해주세영"
                       size = "25" maxlength="15"><br>
                <input type = "text" name = "nickname" value = "닉네임을 입력해주세영"
                       size = "25" maxlength="15"><br>
                <input type = "text" name = "email" value = "이메일을 입력해주세영"
                       size = "25" maxlength="15"><br>
                <input type = "text" name = "loginId" value = "아이디를 입력해주세영"
                       size = "25" maxlength="15"><br>
                <input type = "text" name = "password" value = "비번을 입력해주세영"
                       size = "25" maxlength="15"><br>
                <button type="submit" class = "signup_button">회원가입</button>
            </div>
        </form>
    </div>
</body>
</html>