<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="/css/db.css">
        <title></title>
    </head>
    <body bgcolor="#EF904C">
        <h1 class = "banner">Mak'gora
            <span class = "login">
                <button onclick = "location.href = '/sports/login'">로그인</button>
            </span>
            <span class = "search">
                <button onclick = "location.href = '/posts/search'">검색</button>
            </span>
        </h1>
        <div class = "content">
            <span class = "left"></span>
            <span class = "mid">
                <div class = "mid_content1">
                    <button onclick = "location.href = '/posts/new?category=football'"><img src = "../../static/img/축구.png"></button>
                    <button onclick = "location.href = '/posts/new?category=basketball'"><img src = "../../static/img/농구.png"></button>
                    <button onclick = "location.href = '/posts/new?category=baseball'"><img src = "../../static/img/야구.png"></button>
                </div>
                <br>
                <div class = "mid_content2">
                    <button onclick = "location.href = '/posts/new?category=volleyball'"><img src = "../../static/img/배구.png"></button>
                    <button onclick = "location.href = '/posts/new?category=danggu'"><img src = "../../static/img/당구.png"></button>
                    <button onclick = "location.href = '/posts/new?category=joggu'"><img src = "../../static/img/족구.png"></button>
                </div>
            </span>
            <span class = "right"></span>
        </div>
    </body>
</html>