<!DOCTYPE html>
<html lang="en" xmlns:th="http://www/thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/post_list.css}">
</head>
<body bgcolor="#EF904C">
<div class="container">
    <div>
        <h1 class = "header"><a href="/">메인으로</a></h1>
        <table border="1" width="50%" height="200" bordercolor="black">
            <thead>
            <tr>
                <th class = "title">글 목록</th>
            </tr>
            </thead>
            <tbody>
            <tr class = "content">
                <td>작성자</td>
                <td>제목</td>
                <td>내용</td>
                <td>장소</td>
                <td>전화번호</td>
                <td>종목</td>
            </tr>
            <tr class = "list" th:each="post : ${posts}">
                <td th:text="${post.name}"></td>
                <td th:text="${post.title}"></td>
                <td th:text="${post.content}"></td>
                <td th:text="${post.area}"></td>
                <td th:text="${post.phone}"></td>
                <td th:text="${post.category}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>