<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="writing_list.css">
    <title>글 목록</title>
</head>
<body>
    <table>
        <thead>
        <tr>
            <th>목록</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>아이디</td>
            <td>닉네임</td>
            <td>글</td>
            <td>내용</td>
        </tr>
        <tr th:each="writing : ${}">
            <td th:text="${writing.id}"></td>
            <td th:text="${writing.nickname}"></td>
            <td th:text="${writing.글}"></td>
            <td th:text="${writing.내용}"></td>
        </tr>
        </tbody>
    </table>
</body>
</html>