.header{
    color: white;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 50px;
}
.title{
    width: 80%;
    height: 30px;
    border: 1px;
}
.content{
    width: 80%;
    height: 50px;
    border: 1px;
}
.title_part{
    border: 1px solid #000;
}
.content_part{
    border: 1px solid #000;
}
.save{
    width: 100px;
    height: 50px;
    border: 1px solid #000;
    float: right;
}