.content{
    display: flex;
    align-items: center;
    background:#aeaeae;
}
.left{
    width: 300px;
    height: 600px;
    border: 2px solid #000;
}
.right{
    width: 400px;
    height: 600px;
    border: 2px solid #000;
}
.mid{
    width: 900px;
    height: 600px;
    border: 2px solid #000;
}
.login{
    border: 1px;
    float: right;
}