<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <link rel="stylesheet" href="db.css">
        <title></title>
    </head>
    <body>
        <h1 class = "banner">여기는 배너자리
            <span class = "login">
                <button onclick = "location.href = '/sports/login'">로그인</button>
            </span>
        </h1>
        <div class = "content">
            <span class = "left">여기가 왼쪽</span>
            <span class = "mid">
                <div>여기는 중앙</div>
                <span>
                    <button onclick = "location.href = '/sports/football'">축구</button>
                    <button onclick = "location.href = '/sports/basketball'">농구</button>
                    <button onclick = "location.href = '/sports/baseball'">야구</button>
                </span>
                <br>
                <span>
                    <button onclick = "location.href = '/sports/volleyball'">배구</button>
                    <button onclick = "location.href = '/sports/danggu'">당구</button>
                    <button onclick = "location.href = '/sports/joggu'">족구</button>
                </span>
            </span>
            <span class = "right">여기는 오른쪽</span>
        </div>
    </body>
</html>