.content{
    display: flex;
    align-items: center;
    background:#aeaeae;
}
.banner{
    width: 1600px;
    height: 100px;
    background:#EF904C	;
    color: white;
}
.left{
    width: 300px;
    height: 600px;
    border: 2px solid #000;
    background: black;
}
.right{
    width: 400px;
    height: 600px;
    border: 2px solid #000;
    background: black;
}
.mid{
    width: 900px;
    height: 600px;
    border: 2px solid #000;

    display: flex;
    align-items: center;
    justify-content: center;
}
mid_content1{
    align-items: center;
    justify-content: center;
}
mid_content2{
    align-items: center;
    justify-content: center;
}
.login{
    border: 1px;
    float: right;
}