<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/login.css">
    <title>Login</title>
</head>
<body bgcolor="#EF904C">
<h1 class="login">Mak'gora Login</h1>
<div class=main>

    <div class="login_area">
        <form action="/sports/login" method="post">
            <input type="text" name="loginId" placeholder="아이디를 입력해주세요."
                   size="25" maxlength="30"><br>
            <input type="text" name="password" placeholder="비번을 입력해주세요."
                   size="25" maxlength="30">
            <br>
            <button type="submit" class="login_button">로그인하기</button>
        </form>
        <button onclick="location.href = '/sports/signup'" class="signup_button">회원가입</button>
    </div>


</div>
</body>
</html>